.App {
  text-align: center;
}

#page-header {
  text-align: center;
}

.search-form {
  margin: 1% auto;
  text-align: center;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.list-group-item {
  text-align: center;
}
